.selectWrapper{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 10px;
}

.selectStyled{
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 5px;
  height: 40px;
  padding: 10px;
  width: 100%;
}

.label{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 5px;
  color: #212529;
}